@media (max-width: 800px){
    .logo {
        display: none;
    }
    .sides {
        display: none;
    }
    .mid {
        width: 100%;
    }

}

section {
    padding: 10px 15px;
    margin: 10px;
    display: block;
}

.footer{
    border-radius: 5px;
    border: 1px solid #327bc4;
    background-color: #303030;
    margin: auto;
}

.flex-container {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    width: 97%;

    border: 1px solid #ff0000;
    border-radius: 5px;
    
    
  }

.sides {
    min-height: 100%;
    height: 100%;
    width: 25%;
    background-color: #303030;
    border: 1px solid #646174;
    border-radius: 5px;
    
    
}

.mid {
    margin: auto;
    width: 40%;/*
    border-radius: 5px;
    height: 100%;
    
}

.post { /*<a href="https://www.flaticon.com/free-icons/thumbs-up" title="thumbs up icons">Thumbs up icons created by vectorspoint - Flaticon</a>*/
    background-color: #303030;
    border: 1px solid #646174;

    border-radius: 5px;
    margin-bottom: 10px;
}

a + span  {
    justify-content:right;
    display: block;
    text-align: right;
    color: #ffffff;
}

.pfptext {
    display: flex;
    align-items:center;
}

.logopost {
    margin-right: 10px;
    font-size: 1.1em;
    padding: 1em;

}

.thumbsup {
    margin: 1em;
}

div p{
    margin: 1em;
    color: #ffffff;
}

.postImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;


}
