@media (min-width: 1000px) {
    .header,
    .nav {
        display: flex;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media (max-width: 1000px){
    .logo {
        display: none;
    }
    .sides {
        display: none;
    }
    .mid {
        min-width: 100%;
    }

}

* {
    font-family: sans-serif;
    box-sizing: border-box;

}

body {
    line-height: 1.6;
    margin: 0;
    padding:0;
    padding-top: 65px;
     }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

a {
    color: #327bc4;
    text-decoration: none;
    margin-left: 1em;
    }

.logo {
    margin-right: 10px;
    font-size: 1.1em;
      }

section {
    padding: 10px 15px;
    margin: 10px;
    display: block;
}
.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    border-radius: 5px;
    background-color: #303030;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    left:0;
    right:0;
    top:0;


}

.nav {
    margin-top: 5px;
     }

.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #327bc4;
    font-size: .99em;
       }

/* Pseudo-class selector */
.nav a:hover {
    background-color: #4e7bcf;
    color: #041c36;
}


.footer{
    border-radius: 5px;
    border: 1px solid #327bc4;
    background-color: #303030;
    margin: auto;
}

.flex-container {
    display: flex;
    width: 97%;

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    
  }

.sides {
    min-height: 100%;
    width: 25%;
    background-color: #303030;
    border: 1px solid #646174;
    border-radius: 5px;
    
    
}

.mid {
    width: 40%;
    border-radius: 5px;
    height: 100%;
    
}

.post { /*<a href="https://www.flaticon.com/free-icons/thumbs-up" title="thumbs up icons">Thumbs up icons created by vectorspoint - Flaticon</a>*/
    background-color: #303030;
    border: 1px solid #646174;

    border-radius: 5px;
    margin-bottom: 10px;
}

a + span  {
    justify-content:right;
    display: block;
    text-align: right;
    color: #ffffff;
}

.pfptext {
    display: flex;
    align-items:center;
}

.logopost {
    margin-right: 10px;
    font-size: 1.1em;
    padding: 1em;

}

.thumbsup {
    margin: 1em;
}

div p{
    margin: 1em;
    color: #ffffff;
}

.postImage{
    object-fit: contain;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
