.postbox {
    background-color: var(--teritary-color);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    width: fit-content;
    height: 80%;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
    transition: box-shadow 0.4s ease, transform 0.3s ease;
}

.postbox:hover {
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.postbox > form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postbox div {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    text-align: right;
}

.postbox input#postBody {
    width: 70%;
    height: 150px;
    padding: 12px;
    font-size: 16px;
}

.labels {
    width: 20%;
    padding-right: 10px;
}

.uploadButton {
    height: 40px;
    background-color: var(--accent-color);
    color: var(--light-text);
    font-size: large;
    padding: 5px 10px 5px 10px;
    text-align: center;
    cursor: pointer;
}

.buttonDiv {
    width: 196px;
    align-self: center;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    resize: none;
    height: 150px;
}

h2 {
    margin: 10px;
    margin-top: 0px;
}

@media (max-width: 1000px) {
    .postbox {
        margin-top: 4.5em;
    }
    .button {
        margin: 0px;
    }
    .postbox:hover {
        box-shadow: none;
        transform: none;
    }
}