.postbox {
    background-color: #b6b6b6;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    width: fit-content;
    height: 80%;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
}


.postbox > form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postbox div {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    text-align: right;
    margin-bottom: 10px;
}

.postbox input#postBody {
    width: 70%;
    height: 150px;
    padding: 12px;
    font-size: 16px;
}

.labels {
    width: 20%;
    padding-right: 10px;
}

.uploadButton {
    height: 40px;
    background-color: #7f7f7f;
    font-size: large;
    padding: 5px 10px 5px 10px;
    text-align: center;
    cursor: pointer;
}

.buttonDiv {
    width: 196px;
    align-self: center;
}

button {
    margin-top: 20px;
}

textarea {
    resize: none;
    height: 150px;
}

@media (max-width: 1000px) {
    .postbox {
        margin-top: 4.5em;
    }
}